---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Bujjhati | Bookings & Contact">
  <div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
        <div class="navigation-container">
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/#music-section" class="navigation-link w-inline-block">
            <div class="navigation-link-text">MUSIC</div>
            </a>
            <a href="/contact" aria-current="page" class="navigation-link w-inline-block w--current">
            <div class="navigation-link-text">CONTACT</div>
            </a>
        </nav>
        <a href="/" class="logo w-inline-block"><img src="/images/LOGO-MAIN-BUJJ.png" sizes="(max-width: 1038px) 100vw, 1038px" srcset="/images/LOGO-MAIN-BUJJ-p-500.png 500w, /images/LOGO-MAIN-BUJJ.png 1038w" alt="" class="image-logo"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/#music-section" class="navigation-link _2 w-inline-block">
            <div class="navigation-link-text">MUSIC</div>
            </a>
            <a href="/contact" aria-current="page" class="navigation-link _2 w-inline-block w--current">
            <div class="navigation-link-text">CONTACT</div>
            </a>
            <a href="/#Projects-section" class="navigation-link w-inline-block">
            <div class="navigation-link-text">PROJECTS</div>
            </a>
            <a href="/more" class="navigation-link w-inline-block">
            <div class="navigation-link-text">MORE</div>
            </a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="lottie-eye" data-w-id="4129dfe2-b844-85c5-c568-2cd95c757b3d" data-animation-type="lottie" data-src="/documents/eye.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="3"></div>
        </div>
        </div>
    </div>
    <section class="section-5">
        <div class="lottie-contact-div">
        <div data-w-id="4297b69c-f931-6853-e402-187bd48cfd57" data-animation-type="lottie" data-src="/documents/Abstract-lottie.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4" data-duration="0"></div>
        </div>
        <div>
        <div class="div-block-12 _2">
            <div class="contact-title _2">CONTACT FOR BOOKING AND BUISNESS</div>
        </div>
        </div>
        <a href="mailto:music@bujjhati.com" class="email-text _2 w-inline-block">
        <div class="email">☛ music@bujjhati.com ☚</div>
        </a>
        <div class="links-contact-button-div">
        <a href="https://1drv.ms/f/s!AtAQGskiu3tehe8lvaChK4EYlXY4WA?e=UrV5tv" target="_blank" class="booking-link-button w-button">PRESS KIT</a>
        <a href="https://1drv.ms/f/s!AtAQGskiu3tem6tAFQDktrPLbgcfiw?e=r3V5bF" target="_blank" class="booking-link-button rider w-button">RIDER &amp; HOSPITALITY</a>
        <a href="#" class="booking-link-button _2 w-button">TECHNICAL RIDER</a>
        </div>
    </section>
  </div>
</Layout>
<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  }
</style> 