---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#music-section" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
      </nav>
      <a href="/" aria-current="page" class="logo w-inline-block w--current">
        <img src="/images/LOGO-MAIN-BUJJ.png" sizes="(max-width: 1038px) 100vw, 1038px" srcset="/images/LOGO-MAIN-BUJJ-p-500.png 500w, /images/LOGO-MAIN-BUJJ.png 1038w" alt="" class="image-logo">
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#music-section" class="navigation-link _2 w-inline-block">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link _2 w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
        <a href="#Projects-section" class="navigation-link w-inline-block">
          <div class="navigation-link-text">PROJECTS</div>
        </a>
        <a href="/more" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MORE</div>
        </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="lottie-eye" data-w-id="4129dfe2-b844-85c5-c568-2cd95c757b3d" data-animation-type="lottie" data-src="/documents/eye.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="3"></div>
      </div>
    </div>
  </div>
  <main class="main-content-overlay">
    <section class="section-2">
      <div class="div-block-2">
        <div data-poster-url="https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-transcode.mp4,https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom">
          <video id="2d8d8894-39b0-3b23-ee01-ec1075fc63bb-video" autoplay="" loop="" style="background-image:url('https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-poster-00001.jpg')" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
            <source src="https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-transcode.mp4" data-wf-ignore="true">
            <source src="https://uploads-ssl.webflow.com/649f2d8fbd81b82edf006fc4/649f9eb9e7e4dcda62912b86_BUJJ%2011%20NEW-transcode.webm" data-wf-ignore="true">
          </video>
        </div>
        <img src="/images/LOGO-MAIN-ICON-BUJJ.png" loading="lazy" sizes="(max-width: 479px) 151px, (max-width: 767px) 164px, (max-width: 991px) 210px, 229px" srcset="/images/LOGO-MAIN-ICON-BUJJ-p-500.png 500w, /images/LOGO-MAIN-ICON-BUJJ.png 1049w" alt="" class="image">
      </div>
      <div class="div-block-3">
        <div class="paragraph">
          <span class="text-span">बुध्यते . to awake</span> | sharing presence and transcendence through art and music.<br>
        </div>
        <div class="div-block-5">
          <a href="#music-section" class="link-button w-button">music</a>
          <a href="/contact" class="link-button w-button">BOOKING</a>
        </div>
      </div>
    </section>
    <section class="media-links-sec">
      <div>
        <a href="https://www.instagram.com/bujjhati/" target="_blank" class="media-links-block w-inline-block">
          <img src="/images/IG-ICON.png" loading="lazy" alt="">
        </a>
        <a href="https://www.youtube.com/watch?v=ftgjn0phJGg" target="_blank" class="media-links-block w-inline-block">
          <img src="/images/YT-ICON.png" loading="lazy" alt="">
        </a>
        <a href="https://open.spotify.com/artist/0eu2zBr1x09LRp0AbgLgHY?si=Jf85JA5BSeS7bBace5h-sQ" target="_blank" class="media-links-block w-inline-block">
          <img src="/images/SP-ICON.png" loading="lazy" alt="">
        </a>
        <a href="https://soundcloud.com/bujjhati" target="_blank" class="media-links-block w-inline-block">
          <img src="/images/SC-ICON.png" loading="lazy" alt="">
        </a>
      </div>
    </section>
    <section id="music-section" class="section-links">
      <div class="div-block-4">
        <img src="/images/bujj1.jpg" loading="lazy" sizes="(max-width: 767px) 92vw, 507px" srcset="/images/bujj1-p-500.jpg 500w, /images/bujj1-p-800.jpg 800w, /images/bujj1.jpg 1080w" alt="" class="image-2">
      </div>
      <div class="title-div">
        <div class="h1">MUSIC</div>
      </div>
      <div class="div-block-6">
        <div class="paragraph _2">
          mexican creator <span class="text-span-2"><em class="italic-text">bujjhati</em></span> is a<strong> </strong><span class="text-span-3"><strong class="bold-text">producer of dance underground music AND a TECH ENTERPRENEUR<br><br></strong>PLAYING MELODIC TECHNO ALL THE WAY TO ORGANIC HOUSE, THE SOUNDS HE SHARES ARE ALL ABOUT DANCING AND HAVING A MOMENT TO ESCAPE INTO OUR SOULS</span><br>
        </div>
      </div>
      <div class="div-block-7">
        <div class="html-embed w-embed w-iframe">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/74QJ3lXWkp8ViVI2BmJMBs?utm_source=generator" width="100%" height="100%" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="html-embed w-embed w-iframe">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4T7ZHJFIHP9gMF5VDF7kLC?utm_source=generator&theme=0" width="100%" height="100%" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>
      <div class="div-block-8">
        <a href="music.html" class="link-block-2 w-inline-block">
          <div class="more-releases">+ MORE RELEASES +</div>
        </a>
      </div>
      <div class="div-block-15">
        <div class="div-block-7 sc">
          <div class="html-embed sc w-embed w-iframe">
            <iframe width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1554916621&color=%233a2e37&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
              <a href="https://soundcloud.com/bujjhati" title="Bujjhati" target="_blank" style="color: #cccccc; text-decoration: none;">Bujjhati</a> · <a href="https://soundcloud.com/bujjhati/rythm-of-the-stars" title="Rythm Of The Stars | Honezt Sessions" target="_blank" style="color: #cccccc; text-decoration: none;">Rythm Of The Stars | Honezt Sessions</a>
            </div>
          </div>
        </div>
        <div class="div-block-7 sc b">
          <div class="html-embed sc w-embed w-iframe">
            <iframe width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1554901963&color=%234c464a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
              <a href="https://soundcloud.com/bujjhati" title="Bujjhati" target="_blank" style="color: #cccccc; text-decoration: none;">Bujjhati</a> · <a href="https://soundcloud.com/bujjhati/sophosryne" title="Exotic Night | Honezt Sessions" target="_blank" style="color: #cccccc; text-decoration: none;">Exotic Night | Honezt Sessions</a>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-8">
        <a href="https://soundcloud.com/bujjhati" target="_blank" class="link-block-3 w-inline-block">
          <div class="more-releases">+ MORE MIXES +</div>
        </a>
      </div>
    </section>
    <section id="Projects-section" class="projects-section">
      <div class="div-block-4 _2">
        <img src="/images/bujj2.jpg" loading="lazy" sizes="(max-width: 479px) 74vw, (max-width: 767px) 64vw, (max-width: 991px) 369.59375px, 423.1875px" srcset="/images/bujj2-p-500.jpg 500w, /images/bujj2-p-800.jpg 800w, /images/bujj2.jpg 1080w" alt="">
        <div class="div-block-9"></div>
      </div>
      <div class="title-div">
        <div class="h1">projects</div>
      </div>
      <div class="div-block-6">
        <div class="paragraph _2">
          <span class="text-span-3">IN AND OUT OF THE STAGE, BUJJHATI FOCUSES ON TAKING PROJECTS TO THE NEXT LEVEL.<br><br>DIRECTING BUSINESSES THAT CAN SHARE LOVE, CONSCIOUSNESS AND CREATIVITY WITH THE WORLD</span><br>
        </div>
      </div>
      <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c315-df00704f" class="w-layout-layout wf-layout-layout">
        <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c316-df00704f" class="w-layout-cell">
          <div class="div-block-10">
            <a href="https://www.instagram.com/ikal.project/" target="_blank" class="project-link w-inline-block">
              <img src="/images/PROJECT_IKAL_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_IKAL_V2-p-500.jpg 500w, /images/PROJECT_IKAL_V2-p-800.jpg 800w, /images/PROJECT_IKAL_V2-p-1080.jpg 1080w, /images/PROJECT_IKAL_V2.jpg 1500w" alt="" class="image-project">
            </a>
          </div>
        </div>
        <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c317-df00704f" class="w-layout-cell">
          <div class="div-block-10">
            <a href="https://www.instagram.com/kirana.crystals/" target="_blank" class="project-link w-inline-block">
              <img src="/images/PROJECT_KIRANA_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_KIRANA_V2-p-500.jpg 500w, /images/PROJECT_KIRANA_V2-p-800.jpg 800w, /images/PROJECT_KIRANA_V2-p-1080.jpg 1080w, /images/PROJECT_KIRANA_V2.jpg 1500w" alt="" class="image-project">
            </a>
          </div>
        </div>
        <div id="w-node-_41a29d26-8c55-825a-b234-89bd419d606e-df00704f" class="w-layout-cell">
          <div class="div-block-10">
            <a href="https://www.instagram.com/honezt_ofc/" target="_blank" class="project-link w-inline-block">
              <img src="/images/PROJECT_HONEZT_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_HONEZT_V2-p-500.jpg 500w, /images/PROJECT_HONEZT_V2-p-800.jpg 800w, /images/PROJECT_HONEZT_V2-p-1080.jpg 1080w, /images/PROJECT_HONEZT_V2.jpg 1500w" alt="" class="image-project">
            </a>
          </div>
        </div>
        <div id="w-node-e299215f-cdc6-bce4-e42b-c991ce6ec8a2-df00704f" class="w-layout-cell">
          <div class="div-block-10">
            <a href="https://www.instagram.com/bujjhati_visual/" target="_blank" class="project-link w-inline-block">
              <img src="/images/PROJECT_VISUALS_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_VISUALS_V2-p-500.jpg 500w, /images/PROJECT_VISUALS_V2-p-800.jpg 800w, /images/PROJECT_VISUALS_V2-p-1080.jpg 1080w, /images/PROJECT_VISUALS_V2.jpg 1500w" alt="" class="image-project">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="section-contact" class="section-b">
      <div class="div-block-12">
        <div class="contact-title">CONTACT FOR BOOKING AND BUISNESS</div>
      </div>
      <a href="mailto:music@bujjhati.com" class="email-text w-inline-block">
        <div class="email">☛ music@bujjhati.com ☚</div>
      </a>
    </section>
  </main>
</Layout>
<style>
  .main-content-overlay {
    background-color: #1a1a1a;
    position: relative;
    z-index: 1; /* Sits above the gradient background */
  }
</style>