---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bujjhati's Music | Singles & Albums">
  <!-- Navigation -->
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/#music-section" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
      </nav>
      <a href="/" class="logo w-inline-block">
        <img src="/images/LOGO-MAIN-BUJJ.png" sizes="(max-width: 1038px) 100vw, 1038px" srcset="/images/LOGO-MAIN-BUJJ-p-500.png 500w, /images/LOGO-MAIN-BUJJ.png 1038w" alt="" class="image-logo">
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/music" aria-current="page" class="navigation-link _2 w-inline-block w--current">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link _2 w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
        <a href="/projects" class="navigation-link w-inline-block">
          <div class="navigation-link-text">PROJECTS</div>
        </a>
        <a href="/more" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MORE</div>
        </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="lottie-eye" data-w-id="4129dfe2-b844-85c5-c568-2cd95c757b3d" data-animation-type="lottie" data-src="/documents/eye.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="3"></div>
      </div>
    </div>
  </div>

  <!-- Music Page Content -->
  <section class="section-2">
    <div class="div-block-2">
      <img src="/images/LOGO-MAIN-ICON-BUJJ.png" loading="lazy" sizes="(max-width: 479px) 151px, (max-width: 767px) 164px, (max-width: 991px) 210px, 229px" srcset="/images/LOGO-MAIN-ICON-BUJJ-p-500.png 500w, /images/LOGO-MAIN-ICON-BUJJ.png 1049w" alt="" class="image">
    </div>
    <div class="div-block-3">
      <div class="paragraph">
        <span class="text-span">बुध्यते . to awake</span> | music releases and albums.<br>
      </div>
      <div class="div-block-5">
        <a href="/" class="link-button w-button">home</a>
        <a href="/contact" class="link-button w-button">BOOKING</a>
      </div>
    </div>
  </section>

  <!-- Music Releases Section -->
  <section class="section-links">
    <div class="title-div">
      <div class="h1">MUSIC RELEASES</div>
    </div>
    <div class="div-block-6">
      <div class="paragraph _2">
        Explore <span class="text-span-2"><em class="italic-text">bujjhati's</em></span> complete discography of <span class="text-span-3"><strong class="bold-text">melodic techno and organic house tracks</strong></span><br>
      </div>
    </div>
    
    <!-- Spotify Embeds -->
    <div class="div-block-7">
      <div class="html-embed w-embed w-iframe">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/74QJ3lXWkp8ViVI2BmJMBs?utm_source=generator" width="100%" height="100%" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <div class="html-embed w-embed w-iframe">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4T7ZHJFIHP9gMF5VDF7kLC?utm_source=generator&theme=0" width="100%" height="100%" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>

    <!-- SoundCloud Embeds -->
    <div class="div-block-15">
      <div class="div-block-7 sc">
        <div class="html-embed sc w-embed w-iframe">
          <iframe width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1554916621&color=%233a2e37&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/bujjhati" title="Bujjhati" target="_blank" style="color: #cccccc; text-decoration: none;">Bujjhati</a> · <a href="https://soundcloud.com/bujjhati/rythm-of-the-stars" title="Rythm Of The Stars | Honezt Sessions" target="_blank" style="color: #cccccc; text-decoration: none;">Rythm Of The Stars | Honezt Sessions</a>
          </div>
        </div>
      </div>
      <div class="div-block-7 sc b">
        <div class="html-embed sc w-embed w-iframe">
          <iframe width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1554901963&color=%234c464a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/bujjhati" title="Bujjhati" target="_blank" style="color: #cccccc; text-decoration: none;">Bujjhati</a> · <a href="https://soundcloud.com/bujjhati/sophosryne" title="Exotic Night | Honezt Sessions" target="_blank" style="color: #cccccc; text-decoration: none;">Exotic Night | Honezt Sessions</a>
          </div>
        </div>
      </div>
    </div>

    <!-- External Links -->
    <div class="div-block-8">
      <a href="https://open.spotify.com/artist/0eu2zBr1x09LRp0AbgLgHY?si=Jf85JA5BSeS7bBace5h-sQ" target="_blank" class="link-block-2 w-inline-block">
        <div class="more-releases">+ SPOTIFY +</div>
      </a>
    </div>
    <div class="div-block-8">
      <a href="https://soundcloud.com/bujjhati" target="_blank" class="link-block-3 w-inline-block">
        <div class="more-releases">+ SOUNDCLOUD +</div>
      </a>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="section-contact" class="section-b">
    <div class="div-block-12">
      <div class="contact-title">CONTACT FOR BOOKING AND BUISNESS</div>
    </div>
    <a href="mailto:music@bujjhati.com" class="email-text w-inline-block">
      <div class="email">☛ music@bujjhati.com ☚</div>
    </a>
  </section>
</Layout>
