---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bujjhati | Projects">
  <!-- Navigation -->
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-container">
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/#music-section" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
      </nav>
      <a href="/" class="logo w-inline-block">
        <img src="/images/LOGO-MAIN-BUJJ.png" sizes="(max-width: 1038px) 100vw, 1038px" srcset="/images/LOGO-MAIN-BUJJ-p-500.png 500w, /images/LOGO-MAIN-BUJJ.png 1038w" alt="" class="image-logo">
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/music" class="navigation-link _2 w-inline-block">
          <div class="navigation-link-text">MUSIC</div>
        </a>
        <a href="/contact" class="navigation-link _2 w-inline-block">
          <div class="navigation-link-text">CONTACT</div>
        </a>
        <a href="/projects" aria-current="page" class="navigation-link w-inline-block w--current">
          <div class="navigation-link-text">PROJECTS</div>
        </a>
        <a href="/more" class="navigation-link w-inline-block">
          <div class="navigation-link-text">MORE</div>
        </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="lottie-eye" data-w-id="4129dfe2-b844-85c5-c568-2cd95c757b3d" data-animation-type="lottie" data-src="/documents/eye.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="3"></div>
      </div>
    </div>
  </div>

  <!-- Projects Page Content -->
  <section class="section-2">
    <div class="div-block-2">
      <img src="/images/LOGO-MAIN-ICON-BUJJ.png" loading="lazy" sizes="(max-width: 479px) 151px, (max-width: 767px) 164px, (max-width: 991px) 210px, 229px" srcset="/images/LOGO-MAIN-ICON-BUJJ-p-500.png 500w, /images/LOGO-MAIN-ICON-BUJJ.png 1049w" alt="" class="image">
    </div>
    <div class="div-block-3">
      <div class="paragraph">
        <span class="text-span">बुध्यते . to awake</span> | entrepreneurial ventures and creative projects.<br>
      </div>
      <div class="div-block-5">
        <a href="/" class="link-button w-button">home</a>
        <a href="/contact" class="link-button w-button">CONTACT</a>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="Projects-section" class="projects-section">
    <div class="div-block-4 _2">
      <img src="/images/bujj2.jpg" loading="lazy" sizes="(max-width: 479px) 74vw, (max-width: 767px) 64vw, (max-width: 991px) 369.59375px, 423.1875px" srcset="/images/bujj2-p-500.jpg 500w, /images/bujj2-p-800.jpg 800w, /images/bujj2.jpg 1080w" alt="">
      <div class="div-block-9"></div>
    </div>
    <div class="title-div">
      <div class="h1">projects</div>
    </div>
    <div class="div-block-6">
      <div class="paragraph _2">
        <span class="text-span-3">IN AND OUT OF THE STAGE, BUJJHATI FOCUSES ON TAKING PROJECTS TO THE NEXT LEVEL.<br><br>DIRECTING BUSINESSES THAT CAN SHARE LOVE, CONSCIOUSNESS AND CREATIVITY WITH THE WORLD</span><br>
      </div>
    </div>
    <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c315-df00704f" class="w-layout-layout wf-layout-layout">
      <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c316-df00704f" class="w-layout-cell">
        <div class="div-block-10">
          <a href="https://www.instagram.com/ikal.project/" target="_blank" class="project-link w-inline-block">
            <img src="/images/PROJECT_IKAL_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_IKAL_V2-p-500.jpg 500w, /images/PROJECT_IKAL_V2-p-800.jpg 800w, /images/PROJECT_IKAL_V2-p-1080.jpg 1080w, /images/PROJECT_IKAL_V2.jpg 1500w" alt="" class="image-project">
          </a>
        </div>
      </div>
      <div id="w-node-_902813a6-99ac-830c-5a9e-84ae4805c317-df00704f" class="w-layout-cell">
        <div class="div-block-10">
          <a href="https://www.instagram.com/kirana.crystals/" target="_blank" class="project-link w-inline-block">
            <img src="/images/PROJECT_KIRANA_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_KIRANA_V2-p-500.jpg 500w, /images/PROJECT_KIRANA_V2-p-800.jpg 800w, /images/PROJECT_KIRANA_V2-p-1080.jpg 1080w, /images/PROJECT_KIRANA_V2.jpg 1500w" alt="" class="image-project">
          </a>
        </div>
      </div>
      <div id="w-node-_41a29d26-8c55-825a-b234-89bd419d606e-df00704f" class="w-layout-cell">
        <div class="div-block-10">
          <a href="https://www.instagram.com/honezt_ofc/" target="_blank" class="project-link w-inline-block">
            <img src="/images/PROJECT_HONEZT_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_HONEZT_V2-p-500.jpg 500w, /images/PROJECT_HONEZT_V2-p-800.jpg 800w, /images/PROJECT_HONEZT_V2-p-1080.jpg 1080w, /images/PROJECT_HONEZT_V2.jpg 1500w" alt="" class="image-project">
          </a>
        </div>
      </div>
      <div id="w-node-e299215f-cdc6-bce4-e42b-c991ce6ec8a2-df00704f" class="w-layout-cell">
        <div class="div-block-10">
          <a href="https://www.instagram.com/bujjhati_visual/" target="_blank" class="project-link w-inline-block">
            <img src="/images/PROJECT_VISUALS_V2.jpg" loading="lazy" sizes="285px" srcset="/images/PROJECT_VISUALS_V2-p-500.jpg 500w, /images/PROJECT_VISUALS_V2-p-800.jpg 800w, /images/PROJECT_VISUALS_V2-p-1080.jpg 1080w, /images/PROJECT_VISUALS_V2.jpg 1500w" alt="" class="image-project">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="section-contact" class="section-b">
    <div class="div-block-12">
      <div class="contact-title">CONTACT FOR BOOKING AND BUSINESS</div>
    </div>
    <a href="mailto:music@bujjhati.com" class="email-text w-inline-block">
      <div class="email">☛ music@bujjhati.com ☚</div>
    </a>
  </section>
</Layout>
